

body { margin:0; padding:0; font-family: Verdana; font-size:12px; background:white; }

img {border-style: solid; border-width:0px; border-color:#848484; }


/* navigate menu for ajax */
a.nav, a.nav:link, a.nav:visited {display:block; width:50px; height:20px; background:#E8EEF2; border-width: 1px 1px 0px 1px; border-style:solid; border-color:#B4C8D8; margin-top:1px; text-align:center; text-decoration:none; font-family:verdana, arial, sans-serif; font-size:9px; color:#000; line-height:20px; overflow:hidden; float:left;}
a.nav:hover {color:#fff; background:#BEC9E5;}
a.nav:active {color:#fff; background:#0F355C;}
a.chosen, a.chosen:link, a.chosen:visited {display:block; width:50px; height:20px; color:#fff; background:#0F355C; border-width: 1px 1px 0px 1px; border-style:solid; border-color:#29608D; margin-top:1px; text-align:center; text-decoration:none; font-family:verdana, arial, sans-serif; font-size:9px; line-height:20px; overflow:hidden; float:left;}

/* navigate menu ABC...XYZ for ajax */
a.abc_nav, a.abc_nav:link, a.abc_nav:visited {display:block; width:10px; height:10px; background:#E8EEF2; border-width: 1px 1px 0px 1px; border-style:solid; border-color:#B4C8D8; margin-top:1px; text-align:center; text-decoration:none; font-family:verdana, arial, sans-serif; font-size:9px; color:#000; line-height:11px; overflow:hidden; float:left;}
a.abc_nav:hover {color:#fff; background:#BEC9E5;}
a.abc_nav:active {color:#fff; background:#0F355C;}
a.abc_chosen, a.abc_chosen:link, a.abc_chosen:visited {display:block; width:10px; height:10px; color:#fff; background:#0F355C; border-width: 1px 1px 0px 1px; border-style:solid; border-color:#29608D; margin-top:1px; text-align:center; text-decoration:none; font-family:verdana, arial, sans-serif; font-size:9px; line-height:11px; overflow:hidden; float:left;}



/* -- BEGIN Rank block -- */
.rank {padding: 6px 5px 13px 4px;  height: 82px !important; height /**/: 101px; text-align: right;}
.rank-num { width: 91px; height: 82px; background: url(/i/bg_num.gif) no-repeat; text-align: center;}
.rank-num BIG {font: bold 45px Tahoma; color: #EFA621; display: block;}
.rank-num SMALL {font: normal 19px Tahoma; color: #FFF; display: block;}
.prog-bar { width: 162px; padding: 4px 0 0;}
.prog-bar TABLE {font: normal 12px Tahoma; color: #000; border-collapse: collapse;}
.prog-bar TD {padding: 2px 0 2px 5px; text-align: right;}
.prog-bar TD P {background: #202020; border: 1px solid #000; border-color: #000 #A5A5A5 #A5A5A5 #000; margin: 0; padding: 1px 0; width: 75px; text-align: left;}
/* -- END Rank block -- */


.price-num { width: 240px; height: 200px; background: url(/i/bg_price.gif) no-repeat; text-align: center;}
.price-num BIG {font: bold 36px Tahoma; color: #EFA621; display: block;}
.price-num SMALL {font: normal 12px Tahoma; color: #FFF; display: block;}




/* new year logo table */
table.logo_ny_table { width:100%; height:58px; background:url(/i/top_ny_background.gif) repeat-x; }
table.logo_ny_table th {width:194px; background:url(/i/top_ny_background_left_part.gif) top left no-repeat; text-align: left; padding-left: 16px;}
table.logo_ny_table td { background:url(/i/top_ny_background_right_part.gif) top right no-repeat; }
table.logo_ny_table div { border-left:1px solid #fdfdfd; height:41px; vertical-align:bottom; }
/* eof new year logo table */



/*  <div class="shadow">&nbsp;</div> */
.shadow10  { height: 10px; background: url(/i/sw_white.gif) no-repeat top center; }
.shadow10r { height: 10px; background: url(/i/swr_white.gif) no-repeat top right; }

/*  font-family:Impact, arial, tahoma, sans;*/
h1 { letter-spacing: 0.1px;  font-size:16px; margin:0;  text-decoration:none; }
h2 { font-size:12px; margin:0; color:#29608d; text-decoration:none;  letter-spacing: 0.1px; }
h3 { letter-spacing: 0.7px;  font-family: arial, Verdana; font-size:16px; margin:10px; color:#123960;  }
h4 { font-size:130%; margin:0; }

hr { height: 1px;  color: #D9DBE7; background:#ffffff; }



a { color:#29608d; text-decoration:none; }
a:hover { text-decoration:underline; }

/* main table */
table.main_table { width:100%; margin:9px 0 0 0; }

/* eof main table */

table.allcnt_table {  width:100%; border-style: solid; border-width:2px; border-color:#848484; }


/* title table */
table.title_table { width:100%; background:#1E4F78; }
table.title_table td { width:4px; }
table.title_table th { color:white; font-size:85%; background: url(/i/section_background.gif) repeat-x; }
table.title_table a { color: white; font-weight:normal; text-decoration:none; }
table.title_table a:hover { text-decoration:underline; }
/* eof title table */



/* top tab's */
table.dark_top_tab { width:140px; background:#0f355c; }
table.light_top_tab { width:140px; background:#c8d6e1; }
table.light1_top_tab { width:110px; background:#FDDEA7; }
table.light2_top_tab { width:110px; background:#F9BC47; }

table.dark_top_tab td, table.light_top_tab td, table.light1_top_tab td, table.light2_top_tab td { width:4px; vertical-align:top; }

table.dark_top_tab th { font-weight:normal; text-align:center; border-top:1px solid #3f5d7d; }
table.light_top_tab th { font-weight:normal; text-align:center; border-top:1px solid #d3dee7; }
table.light1_top_tab th { font-weight:normal; text-align:center; border-top:1px solid #FEF0D6; }
table.light2_top_tab th { font-weight:normal; text-align:center; border-top:1px solid #FAD388; }

table.dark_top_tab a { color:white; text-decoration:none; }
table.light_top_tab a { color:#29608d; text-decoration:none; }
table.light1_top_tab a { color:#000100; text-decoration:none; font-size:10px; }
table.light2_top_tab a { color:#000100; text-decoration:none; font-size:10px; }

table.dark_top_tab a:hover, table.light_top_tab a:hover, table.light1_top_tab a:hover { text-decoration:underline; }

/* eof top tab's */

/* logo table */
table.logo_table { width:100%; height:58px;  background:url(/i/top_background.gif) repeat-x; }
table.logo_table th { width:190px; background:url(/i/top_background_left_part.gif) top left no-repeat; }
table.logo_table td {  background:url(/i/top_background_right_part.gif) top right no-repeat; }
table.logo_table div { border-left:1px solid #fdfdfd; height:41px; vertical-align:bottom; }
/* eof logo table */


/* top menu */
table.top_menu_main_table { width:100%;  margin-top:3px; background:#6d6d6d; background:url(/i/bg_menu.gif) repeat-x; }
td.top_menu_main_left_td { background: url(/i/top_menu_left.gif) top left no-repeat; }
td.top_menu_main_left_td a { color:white; }
td.top_menu_main_right_td { width:25%; vertical-align:middle; text-align:right; padding-right:17px; background: url(/i/top_menu_right.gif) top right no-repeat; }


table.top_menu { width:100%; color:white; font-weight:bold;  font-size:100%;  }
table.top_menu td { text-align:center; border-left:1px solid #aaa; border-right:1px solid #464646; padding-left:5px; padding-right:5px; }
table.top_menu tr { background:url(/i/bg_menu.gif) repeat-x;}

/* eof top menu */


/* events */
table.events { text-align:justify; font-size:80%; }
table.events td { vertical-align:top; background: url(/i/doc_blue.gif) 3px 3px no-repeat; padding-left:13px; }
table.events img { float:left; padding:0 3px 3px 0; margin-top:3px; }
table.events a { color:#1e4f78; }
/* eof events */


/* erpsys */
table.erpsys { text-align:justify; font-size:90%; }
table.erpsys td { text-align:justify; vertical-align:top; padding-left:3px; }
table.erpsys img { float:left; padding:0 3px 3px 0; margin-top:3px; }
table.erpsys a { color:#1e4f78; font-size:90%; }
table.erpsys a:hover { text-decoration:underline; }
/* eof erpsys */

/************************************************/
/* left column */

td.left_column { width:240px; vertical-align:top; text-align:center; padding-top:5px;}
table.left_column_parent { text-align:left; width:100%; }

/* compare */
td.compare_right_column { background:#FFFBEB; font-size:80%; color:#1e4f78; text-align:left; padding-left:15px; border-color: #F1E6B2; border-style: solid;  border-width: 1px 0  0 1px; }
td.compare_right_column a { color:#1e4f78; }
td.compare_right_column a:hover { text-decoration:none; }
/* eof compare */

td.alert { font-size:80%; text-align:justify; padding:5px 10px 0 15px; }

/* eof left column */
/************************************************/

/************************************************/
/* center column */
td.center_column { width:100%; vertical-align:top; padding-top:5px;}

/* minus items table */
td.minus_top_left { width:3px; height:25px; background-color:#f21b21; background-image: url(/i/minus_top_left.gif); background-position:top left; background-repeat:no-repeat; }
td.minus_top_center { background:#f21b21 url(/i/minus_tab.gif) no-repeat 11px 7px; padding-left:30px; font:85% bold; color:white; }
td.minus_top_right { width:3px; background:#f21b21 url(/i/minus_top_right.gif) top right no-repeat; }

td.minus_middle_left { background:url(/i/minus_pix.gif) repeat-y left top; }
div.minus_order, div.plus_order { text-align:right; font-size:80%; margin-right:5px; }
div.minus_order a, div.plus_order a { color:#224e76; }
td.minus_middle_right { background: url(/i/minus_pix.gif) repeat-y right top; }

table.minus_items_table { width:100%; font-size:80%; }
table.minus_items_table td { vertical-align:top; background:no-repeat; }
td.minus_item_title { background: url(/i/minus_item.gif) 3px 4px; padding-left:5px; }
td.minus_item_title a { color:#403838; text-decoration:none; }
td.minus_item_eye { padding-left:15px; }
/* td.minus_item_eye { background-image: url(/i/minus_eye.gif); background-position:0px 4px; padding-left:15px; } */

td.minus_item_rating { padding-left:10px; }
/* td.minus_item_rating { background-image: url(/i/minus_rating.gif); background-position:0px 4px; padding-left:10px; } */

td.minus_bottom_left { height:3px; background: url(/i/minus_bottom_left.gif) bottom left no-repeat; }
td.minus_bottom_center { background: url(/i/minus_pix.gif) repeat-x bottom; }
td.minus_bottom_right { background: url(/i/minus_bottom_right.gif) bottom right no-repeat; }
/* eof minus items table */



/* plus items table */
td.plus_top_left { width:3px; height:25px; background:#65b20e url(/i/plus_top_left.gif) top left no-repeat; }
td.plus_top_center { background:#65b20e url(/i/plus_tab.gif) no-repeat 11px 7px; padding-left:30px; font:85% bold; color:white; }
td.plus_top_right { width:3px; background:#65b20e url(/i/plus_top_right.gif) top right no-repeat; }

td.plus_middle_left { background: url(/i/plus_pix.gif) repeat-y left top; }
td.plus_middle_right { background: url(/i/plus_pix.gif) repeat-y right top; }

table.plus_items_table { width:100%; font-size:80%; }
table.plus_items_table td { vertical-align:top; background:no-repeat; }
td.plus_item_title { background: url(/i/plus_item.gif) 3px 4px; padding-left:5px; }
td.plus_item_title a { color:#403838; text-decoration:none; }

td.plus_item_eye { padding-left:15px; }
td.plus_item_rating { padding-left:10px; }

/* td.plus_item_eye { background-image: url(/i/plus_eye.gif); background-position:0px 4px; padding-left:15px; }
td.plus_item_rating { background-image: url(/i/plus_rating.gif); background-position:0px 4px; padding-left:10px; } */

td.plus_bottom_left { height:3px; background: url(/i/plus_bottom_left.gif) bottom left no-repeat; }
td.plus_bottom_center { background: url(/i/plus_pix.gif) repeat-x bottom; }
td.plus_bottom_right { background: url(/i/plus_bottom_right.gif) bottom right no-repeat; }

/* eof plus items table */


table.content_item { width:100%; border-style: solid; border-width:0; border-color:#F4FAFE; margin: 0 0 0 0; padding:10px; }


td.header_title a { color:#1e4f78; font-weight:bold; text-decoration:none; }
td.header_title a:hover { text-decoration:underline; }

table.center_titles { width:100%; font-size:90%; background:#1E4F78;}
table.center_titles th { color:white; font-size:90%; background: url(/i/titles/background.gif); text-align:right; padding-right:6px; }
table.center_titles  a { color:white; font-size:110%; }
td.title_left_column { width:34px; height:17px; }
td.title_right_column { width:3px; background: url(/i/titles/background_right.gif); }

table.invertcenter_titles { width:100%; font-size:90%; background:#AE6F00;}
table.invertcenter_titles th { color:white; font-size:90%; background: url(/i/titles/invbackground.gif); text-align:right; padding-right:6px; }
table.invertcenter_titles  a { color:white; font-size:110%; }
td.inverttitle_left_column { width:34px; height:17px; }
td.inverttitle_right_column { width:3px; background: url(/i/titles/invbackground_right.gif); }

table.content  td { vertical-align:top; font-size:95%; text-align:justify; padding:0 5px 0 5px; }
table.content  img {border-style: solid; border-width:1px; border-color:#848484; }
table.center_comments th { font-size:90%; background:url(/i/doc.gif) no-repeat 3px 3px; padding-left:15px; }
table.center_comments a { color:#0f1011; }

/* eof center column */
/************************************************/


/************************************************/
/* right column */



/* eof right column */
/************************************************/




/* for details.php */
	div.float_div { float:left; width:240px; text-align:center;}
	 
	/* title table */
	table.title_table_new { width:100%;}
	table.title_table_new td { width:4px; }
	table.title_table_new th { color:white; font-size:10px; background:url(/i/section_background.gif) repeat-x; padding:0 5px 0 5px;}
	table.title_table_new a { color: white; font-weight:normal; text-decoration:none; }
	table.title_table_new a:hover { text-decoration:underline; }
	
	/* eof title table */
	table.additional_functions a { color:#10375e; text-decoration:none; }
	table.additional_functions a:hover { text-decoration:underline; }
	
	
	td.additional_info { text-align:left; padding:10px 10px 10px 20px;}
	td.additional_info div { color:#10375e; font-weight:bold; }
	td.additional_info span {font-weight:normal;  }
/************************************************/

/*для таблиц в статьях*/       
table.srvn_table {  font-family: Arial; font-size:10px; width:100%; margin:9px 0 0 0; border-style:solid; border-width:1px 0px 0px 1px; border-color:#699CFF; }
table.srvn_table TD { vertical-align:center;  text-align:center; border-style:solid; border-width:0px 1px 1px 0px; border-color:#699CFF; margin:0; padding:3px; }
tr.srvn_top { background:#699CFF; color:#ffffff;}
td.sys      { vertical-align:left; }




/* Старые стили  ----------------------------------------------------------------- УБРАТЬ ПОТОМ */

/* Комменты */
table.cmt { text-align:justify; font-size:95%; }
table.cmt td {  background:#E9EEF2; vertical-align:top;  padding:5px 5px 5px 5px; }
table.cmt img { margin-top:3px; }
table.cmt a { color:#1e4f78; }




.clickstream {
  font-family: Verdana,Arial, Tahoma,Helvetica,sans-serif;
  text-decoration: none;
  font-size: 11px;
  color:#000000;
}

.clickstreamb {
  font-family: Verdana,Arial, Tahoma,Helvetica,sans-serif;
  text-decoration: none;
  font-size: 11px;
  color:#000000;
}


.clickstream8 {
   font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
  text-decoration: none;
  font-size: 9px;
  color:#F2F9FF;

}

.clickstream10 {
   font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
  text-decoration: none;
  font-size: 10px;
  color:#114800;
}

.smalltext {
  font-family: Verdana,Arial, Tahoma,Helvetica,sans-serif;
  text-decoration: none;
  font-size: 10px;
  font-weight: normal;
  color:#1E4F78;
}

.smalltexthc {
  font-family: Verdana,Arial, Tahoma,Helvetica,sans-serif;
  text-decoration: none;
  font-size: 10px;
  font-weight: normal;
  color:#E0ECF8;
}

.marktext {
  color: #FF0000;
  background-color: #ffffff;
}

.new {
  font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
  font-size: 11px;
  color: #92A6C1;
}

.new1 {
  font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
  font-size: 11px;
  color: #ffffff;
}



form {
  font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
  font-size: 11px;
}

.logininput {
  background-color: #ffffff;
  font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
  color: #0f5475;
  font-size: 11px;
  width: 130px;
}


.textarea {
  font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
  color:#114800;
  font-size: 11px;
  text-decoration: none;
  width: 400px;
}

.input {
  font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
  color: #0f5475;
  font-size: 11px;
  width: 400px;
}

.select {
  font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
  color: #0f5475;
  font-size: 11px;
}

.setperpageselect {
  font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
  color: #0f5475;
  font-size: 11px;
}

.searchinput {
  font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
  color: #0f5475;
  font-size: 11px;
}

.categoryselect {
  font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
  color: #0f5475;
  font-size: 11px;
}

.dropdownmarker {
  font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
  background-color: #EEEEEE;
  color: #136c99;
  font-size: 11px;
}

.button {
  font-family:  Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
}
/*--  background-color: #93D225;   color: #F2E314;   font-weight: bold;---*/


/*--Categories------------------------------------------------*/
.catbgcolor {
  background-color: #E0ECF8;
}

.maincat {
  font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
  font-size: 11px;
  font-weight: bold;
  TEXT-TRANSFORM: uppercase;
  text-decoration: none; 
}

.subcat {
  font-family: Verdana, Arial,Tahoma,Helvetica,sans-serif;
  color: #000010;
  font-size: 10px;
/*  font-weight: bold; */
  text-decoration: none;
}


/*--Comments--------------------------------------------------*/
.commentrow1 {
  background-color: #FBFBFF;
  color: #000075;
}

.commentrow2 {
  background-color: #FBFBFE;
  color: #000010;
}


.commentspacerrow {
  background-color: #E0ECF8;
  color: #000010;
}

.commenttextarea {
  font-family: Tahoma, Arial, Helvetica, sans-serif, Verdana;
  text-decoration: none;
  color: #000010;
  font-size: 11px;
  width: 300px;
}

.commentinput {
  font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
  text-decoration: none;
  color: #0f5475;
  font-size: 11px;
  width: 300px;
}


