body,p,div,span,td   { font-family:Arial, Tahoma; font-size:11pt; color:black; }
body            { margin:9; background:#ffffff; }
div.topbanner   { text-align:center; padding-top:4px; padding-bottom:4px; background:#EFEFEF; border-bottom: 1px solid #808080; }
div.botbanner   { text-align:center; padding-top:4px; padding-bottom:4px; background:#EFEFEF; border-top: 1px solid #808080; }
div.grline      { padding-left:27px; padding-top:5px; padding-bottom:5px; background:#EFEFEF; border-bottom: 1px solid #808080; border-top: 1px solid #808080; }
div.textban     { border: 1px solid #808080; background:#f5f5f5; padding:3px }
div.hd          { padding-top:3px; text-color:black; font-size:7pt; font-weight:bold; font-family:Tahoma,sans-serif; }
div.gray        { border: 1px solid #eaeaea; background:#f5f5f5; padding:3px }
div.yellow      { border: 1px solid #E9BE3B; background:#F7E073; padding:3px }
div.white       { padding:3px }
div.copy        { text-color:black; font-size:8pt; font-family:Tahoma,sans-serif; line-height:12pt; }

span.searchform { font-family:Tahoma,sans-serif; font-weight:bold; color:#808080; }
span.grline     { font-family:Tahoma,sans-serif; font-weight:bold; }

hr              { border-top: solid #808080 1px; border-bottom: solid #ffffff 1px;}

li.news {list-style-image : url(../i/qsmall.gif);}
ul.news {margin-left:25px; margin-top:2px; margin-bottom:0px;}
li.evennews {list-style-image : url(../i/qsmall.gif); line-height:25px;}
h3.title   { color:#000000; font-size:11pt; font-weight:bold; padding:0; margin:0; vertical-align:text-middle; font-family:Tahoma,sans-serif; }
h4.top { color:#990000; font-weight:bold; font-size:13pt; padding:0; margin:0;}
h4.story { color:#990000; font-weight:bold; padding:0; margin:0; }
p.top { margin-top:0pt; line-height:12pt; font-size:13pt; }
p.story { margin-top:0pt; line-height:12pt; }

a { color:#990000; }
a:visited { color:#666666; }
a:active { color:#000000; }
a:hover { color:#D28A00; }
a.hd {text-color:black; text-decoration:none; font-size:7pt; font-weight:bold; font-family:Tahoma,sans-serif; margin-left:4px; margin-right:4px;}
a.hd:visited { color:black; }
a.hd:active { color:black; }
a.hd:hover { color:black; text-decoration:underline; }
a.advsearch { font-size:10px; line-height:6px; font-family:Tahoma,sans-serif; }
a.topmenu {text-color:black; text-decoration:none; font-size:10pt; font-weight:bold; font-family:Tahoma,sans-serif; }
a.topmenu:visited { color:black; }
a.topmenu:active { color:black; }
a.topmenu:hover { color:black; }
a.botmenu {text-color:black; text-decoration:none; font-size:10pt; font-family:Tahoma,sans-serif; }
a.botmenu:visited { color:black; }
a.botmenu:active { color:black; }
a.botmenu:hover { color:black; }
a.lastnews {text-color:black; text-decoration:none; }
a.evennews {text-color:black; text-decoration:underline; }
a.top,a.story,a.edition { text-decoration:none; }
a.pop { text-decoration:none; font-family:Tahoma,sans-serif; }
a.more { font-size:10px; font-family:Tahoma,sans-serif; }
a.anons {text-color:black; text-decoration:none; font-weight:bold; font-size:10pt; font-family:Tahoma,sans-serif;}
a.grad { font-size:10px; line-height:15px; font-family:Tahoma,sans-serif; }

td.topmenutop { vertical-align:middle; background-color:#E9BE3B; height:21px;}
td.topmenubot { vertical-align:middle; padding-left:10px; background-color:#F7E073; height:21px;}
td.copy { vertical-align:middle; padding-left:10px; background-color:#F7E073; height:21px;}
td.topmenu { align:center; padding-left:10px; padding-right:10px; height:21px; }
td.topmenug { align:center; padding-left:10px; padding-right:10px; height:21px; background-color: #F7E073; }
td.search {padding-left:10px; padding-right:10px; padding-bottom:4px; vertical-align:text-bottom;}
td.logo {padding-left:32px; padding-right:10px; padding-bottom:4px; padding-top:4px;}
td.anons { background-color:#E9BE3B;}

.inputs {font-size:12px;}
