Body
{
	color: #000000;
	background-color: #FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

}
.ControlPanel {
	BORDER-RIGHT: #424242 1px solid;
	BORDER-TOP: #424242 1px solid;
	BORDER-LEFT: #424242 1px solid;
	WIDTH: 100%;
	BORDER-BOTTOM: #424242 1px solid;
	HEIGHT: 64px;
	BACKGROUND-COLOR: #ffffff
}

.Skinobject, A.Skinobject, A.Skinobject:link, A.Skinobject:visited, A.Skinobject:active  {
    font-weight: normal;
    font-size: 12px;
    color:#3986C7;
    font-family: Arial, Helvetica, sans-serif;
    
}

A.Skinobject:hover    {
    text-decoration: underline;
	font-weight: normal;
    font-size: 12px;
    color:#3B444D;
    font-family: Arial, Helvetica, sans-serif;
}

.txtwhite {
	FONT-WEIGHT: normal; FONT-SIZE: 12pt; COLOR: #ffffff; FONT-FAMILY: Tahoma, Arial, Helvetica; TEXT-DECORATION: none
}
A.txtwhite:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.txtwhite:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.txtwhite:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A.txtwhite:hover {
	COLOR: #6D9000; TEXT-DECORATION: none
}
.Head
{
	font-weight: bold;
	font-size: 8.5pt;
	color: #0059A7;
	font-family: Verdana;
}

.Head2 {
	font-weight: bold;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FF0000;
}

.SubHead {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0059A7; FONT-FAMILY: Tahoma, Arial, Helvetica
}

.SubSubHead {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Tahoma, Arial, Helvetica
}

.Normal
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #3B444D;
	line-height: 20px;
	word-spacing: 1pt;
	margin-right: 2px;
	margin-left: 2px;
}

.NormalBold {
	FONT-WEIGHT: bold;
	font-size: 12px; 
	font-family: Arial, Helvetica, sans-serif;
	color:#444444;
}
.NormalWhite {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.NormalRed {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	COLOR: #ff0000; 
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}

.NormalGreen {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	COLOR: #B1CB30; 
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}

.NormalTextBox {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	border-bottom: 1 solid #5C9D2E;
	border-left: 1 solid #5C9D2E;
	border-right: 1 solid #5C9D2E;
	border-top: 1 solid #5C9D2E;
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0059A7;
}

.TreeMenu_Node {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Arial, Helvetica
}

.TreeMenu_NodeSelected {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Arial, Helvetica; BACKGROUND-COLOR: #dcdcdc
}

A.TreeMenu_Node:link {
	COLOR: #003366; TEXT-DECORATION: none
}

A.TreeMenu_NodeSelected:link {
	COLOR: #003366; TEXT-DECORATION: none
}

A.TreeMenu_Node:visited {
	COLOR: #003366; TEXT-DECORATION: none
}

A.TreeMenu_NodeSelected:visited {
	COLOR: #003366; TEXT-DECORATION: none
}

A.TreeMenu_Node:active {
	COLOR: #003366; TEXT-DECORATION: none
}

A.TreeMenu_NodeSelected:active {
	COLOR: #003366; TEXT-DECORATION: none
}

A.TreeMenu_Node:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}

A.TreeMenu_NodeSelected:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}

.FileManager {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; HEIGHT: 400px
}

.FileManager_ToolBar {
	BORDER-BOTTOM: black 1px solid; HEIGHT: 25px
}

.FileManager_Explorer {
	BORDER-RIGHT: dimgray 1px solid; BORDER-TOP: dimgray 1px solid; MARGIN: 2px; BORDER-LEFT: dimgray 1px solid; BORDER-BOTTOM: dimgray 1px solid; HEIGHT: 100%; BACKGROUND-COLOR: white
}

.FileManager_FileList {
	BORDER-RIGHT: dimgray 1px solid; BORDER-TOP: dimgray 1px solid; MARGIN: 2px; OVERFLOW: auto; BORDER-LEFT: dimgray 1px solid; BORDER-BOTTOM: dimgray 1px solid; HEIGHT: 100%; BACKGROUND-COLOR: white
}

.FileManager_MessageBox {
	PADDING-RIGHT: 25px; PADDING-LEFT: 25px; PADDING-BOTTOM: 25px; VERTICAL-ALIGN: middle; PADDING-TOP: 25px; BACKGROUND-COLOR: white; TEXT-ALIGN: center
}

.FileManager_Header {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #e7e7ff; BORDER-BOTTOM: dimgray 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica; HEIGHT: 25px; BACKGROUND-COLOR: #9ebff6
}

.FileManager_Pager {
	BORDER-TOP: dimgray 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Arial, Helvetica; HEIGHT: 25px; BACKGROUND-COLOR: #eeeeee
}

.FileManager_StatusBar {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN: 2px; FONT-FAMILY: Tahoma, Arial, Helvetica; HEIGHT: 25px; BACKGROUND-COLOR: #dedfde
}

.FileManager_Item {
	BORDER-TOP: black 1px dashed; FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: black; BORDER-BOTTOM: black 1px dashed; FONT-FAMILY: Tahoma, Arial, Helvetica; BACKGROUND-COLOR: #f8f8f8
}

.FileManager_AltItem {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: black; BORDER-TOP-STYLE: none; FONT-FAMILY: Tahoma, Arial, Helvetica; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #eeeeee; BORDER-BOTTOM-STYLE: none
}

.FileManager_SelItem {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: white; BORDER-TOP-STYLE: none; FONT-FAMILY: Tahoma, Arial, Helvetica; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #99ffff; BORDER-BOTTOM-STYLE: none
}

.FileManagerTreeNode {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Arial, Helvetica
}

.FileManagerTreeNodeSelected {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Arial, Helvetica; BACKGROUND-COLOR: #dcdcdc
}

A.FileManagerTreeNode:link {
	COLOR: #003366; TEXT-DECORATION: none
}

A.FileManagerTreeNodeSelected:link {
	COLOR: #003366; TEXT-DECORATION: none
}

A.FileManagerTreeNode:visited {
	COLOR: #003366; TEXT-DECORATION: none
}

A.FileManagerTreeNodeSelected:visited {
	COLOR: #003366; TEXT-DECORATION: none
}

A.FileManagerTreeNode:active {
	COLOR: #003366; TEXT-DECORATION: none
}

A.FileManagerTreeNodeSelected:active {
	COLOR: #003366; TEXT-DECORATION: none
}

A.FileManagerTreeNode:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}

A.FileManagerTreeNodeSelected:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}

.Wizard {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; WIDTH: 650px; BORDER-BOTTOM: black 1px solid; HEIGHT: 400px
}

.WizardButton {
	BORDER-RIGHT: dimgray 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: dimgray 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: dimgray 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: dimgray 1px solid; BACKGROUND-COLOR: gainsboro
}

.WizardHeader {
	BACKGROUND: #ffffcc; BORDER-BOTTOM: black 1px solid; HEIGHT: 40px
}

.WizardFooter {
	BORDER-TOP: black 1px solid; BACKGROUND: #ccffcc; HEIGHT: 25px; TEXT-ALIGN: right
}

.WizardBody {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; HEIGHT: 325px
}

.WizardHelp {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 9pt; PADDING-BOTTOM: 5px; BORDER-LEFT: black 1px solid; WIDTH: 180px; PADDING-TOP: 5px; BACKGROUND-COLOR: #D8BB89
}

.WizardHelpText {
	FONT-SIZE: 8pt; OVERFLOW: auto; WIDTH: 180px; COLOR: black; FONT-FAMILY: Tahoma, Verdana, Arial, Sans-Serif; HEIGHT: 300px
}

.WizardText {
	FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: Tahoma, Verdana, Arial, Sans-Serif
}

.Help {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: black 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: black 1px solid; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica; BACKGROUND-COLOR: #ffff99
}

.LeftPane {
	font-family: verdana;
	font-size: 8.5pt;
}

.ContentPane {
    color: black;
	font-family: verdana;
	font-size: 8.5pt;
}

.ContentWhite  {
	color: #ffffff;
	font-family: verdana;
	font-size: 8.5pt;
	background-color: #8C825F;
}

.ContentWhiteText{
	color: #ffffff;
	font-family: verdana;
	font-size: 8.5pt;
}

.RightPane {
	font-family: verdana;
	font-size: 8.5pt;
}

.CommandButton {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Arial, Helvetica
}

A.CommandButton:link {
	COLOR: #003366; TEXT-DECORATION: underline
}

A.CommandButton:visited {
	COLOR: #003366; TEXT-DECORATION: underline
}

A.CommandButton:active {
	COLOR: #003366; TEXT-DECORATION: underline
}

A.CommandButton:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}

.StandardButton {
	BORDER-RIGHT: #808080 1px solid;
	BORDER-TOP: #808080 1px solid;
	FONT-SIZE: 11px;
	BORDER-LEFT: #808080 1px solid;
	BORDER-BOTTOM: #808080 1px solid;
	FONT-FAMILY: Verdana, Arial, Hnelvetica, sans-serif;
	background-color: #F2F2F2;
	color:#484848;
}

H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 20px; COLOR: #666644; FONT-FAMILY: Tahoma, Arial, Helvetica
}

H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 20px; COLOR: #666644; FONT-FAMILY: Tahoma, Arial, Helvetica
}

H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: Tahoma, Arial, Helvetica
}

H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: Tahoma, Arial, Helvetica
}

H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Tahoma, Arial, Helvetica
}

DT {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Tahoma, Arial, Helvetica
}

H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Tahoma, Arial, Helvetica
}

TFOOT {
	FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: Tahoma, Arial, Helvetica
}

THEAD {
	FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: Tahoma, Arial, Helvetica
}

TH {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: baseline; COLOR: #003366; FONT-FAMILY: Tahoma, Arial, Helvetica
}

A:link, A:visited  {
    color: #006EB7;
    text-decoration: underline;
    font-family: arial;
    font-size: 12px;
    padding-bottom: 5px;
}

A:Hover  {
    color: #5C9D2E;
    font-family: arial;
    font-size: 12px;
}

SMALL {
	FONT-SIZE: 8px
}

BIG {
	FONT-SIZE: 14px
}

BLOCKQUOTE {
	FONT-FAMILY: Lucida Console, monospace
}

PRE {
	FONT-FAMILY: Lucida Console, monospace
}

UL LI {
	list-style-position: inherit;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight: normal; 
	font-style: normal; 
	color:#424242;
	padding: 4px;
}

UL LI LI {
	LIST-STYLE-TYPE: disc
}

UL LI LI LI {
	LIST-STYLE-TYPE: circle
}

OL LI {
	LIST-STYLE-TYPE: decimal
}

OL OL LI {
	LIST-STYLE-TYPE: lower-alpha
}

OL OL OL LI {
	LIST-STYLE-TYPE: lower-roman
}

HR {
	HEIGHT: 1pt; TEXT-ALIGN: left
}

.ModuleTitle_MenuContainer {
	BORDER-RIGHT: blue 0px solid; BORDER-TOP: blue 0px solid; BORDER-LEFT: blue 0px solid; BORDER-BOTTOM: blue 0px solid
}

.ModuleTitle_MenuBar {
	CURSOR: hand; HEIGHT: 16px; BACKGROUND-COLOR: transparent
}

.ModuleTitle_MenuItem {
	BORDER-RIGHT: white 0px solid; BORDER-TOP: white 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BORDER-LEFT: white 0px solid; CURSOR: hand; COLOR: black; BORDER-BOTTOM: white 1px solid; FONT-STYLE: normal; FONT-FAMILY: Tahoma, Arial, Helvetica; BACKGROUND-COLOR: transparent
}

.ModuleTitle_MenuIcon {
	BORDER-TOP: #eeeeee 1px solid; BORDER-LEFT: #eeeeee 1px solid; WIDTH: 15px; CURSOR: hand; BORDER-BOTTOM: #eeeeee 1px solid; HEIGHT: 21px; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: center
}

.ModuleTitle_SubMenu {
	BORDER-RIGHT: #ffffff 0px solid; BORDER-TOP: #ffffff 0px solid; Z-INDEX: 1000; FILTER: progid:DXImageTransform.Microsoft.Shadow(color='DimGray', Direction=135, Strength=3); BORDER-LEFT: #ffffff 0px solid; CURSOR: hand; BORDER-BOTTOM: #ffffff 0px solid; BACKGROUND-COLOR: #ffffff
}

.ModuleTitle_MenuBreak {
	BORDER-RIGHT: #eeeeee 0px solid; BORDER-TOP: #eeeeee 1px solid; BORDER-LEFT: #eeeeee 0px solid; BORDER-BOTTOM: #eeeeee 1px solid; HEIGHT: 1px; BACKGROUND-COLOR: #eeeeee
}

.ModuleTitle_MenuItemSel {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; CURSOR: hand; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Tahoma, Arial, Helvetica; BACKGROUND-COLOR: #c1d2ee
}

.ModuleTitle_MenuArrow {
	BORDER-RIGHT: #ffffff 1px solid; 
	BORDER-TOP: #ffffff 0px solid; FONT-SIZE: 10pt; CURSOR: hand; 
	BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: webdings
}

.ModuleTitle_RootMenuArrow {
	FONT-SIZE: 10pt; CURSOR: hand; FONT-FAMILY: webdings
}
.HeadBg {
	BACKGROUND-COLOR: #cccccc
}

.TabBg {
	BACKGROUND-COLOR: black
}

.SelectedTab {
    font-weight: normal;
    font-size: 8.5pt;
    color: #ffffff;
    font-family: Verdana;
    text-decoration: none;
}

A.SelectedTab:link {
    text-decoration:    none;
     color: #ffffff;
}

A.SelectedTab:visited  {
    text-decoration:    none;
    color: #ffffff;
}

A.SelectedTab:active   {
    text-decoration:    none;
    color: #ffffff;
}

A.SelectedTab:hover    {
    color: #ff0000;
    font-family: verdana;
    color: #ffffff;
}

.OtherTabs {
    font-weight: normal;
    font-size: 10px;
    color:#ffffff;
	padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

A.OtherTabs {
    font-weight: normal;
    font-size: 8.5pt;
	padding-bottom: 5px;
    color:#ffffff;
    font-family: Verdana, Helvetica, sans-serif;
    text-decoration: none;
}
    
A.OtherTabs:link {
    text-decoration:    none;
    font-size: 8.5pt;
    color:#ffffff;
	padding-bottom: 5px;
    font-family: Verdana, Helvetica, sans-serif;
}

A.OtherTabs:visited  {
    text-decoration:    none;
    font-size: 8.5pt;
    color:#ffffff;
	padding-bottom: 5px;
    font-family: Verdana, Helvetica, sans-serif;
}

A.OtherTabs:active   {
   text-decoration: none;
   font-size: 8.5pt;
   color:#000000;
   padding-bottom: 5px;
   font-family: Verdana, Helvetica, sans-serif;
}

A.OtherTabs:hover    {
    text-decoration:    underline;
    font-size: 8.5pt;
    color:#efefef;
	padding-bottom: 5px;
    font-family: Verdana, Helvetica, sans-serif;
}

.Footer
{
	font-weight: normal;
	font-size: 8.5pt;
	color: #000000;
	font-family: Verdana
	text-decoration: none;
}

.login {
    font-weight: normal;
    font-size: 10px;
    color:#ff0000;
	padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}


/* Main Menu */
.MainMenu_MenuContainer {
	padding-left: 0px; 
	BACKGROUND-COLOR: transparent; 
	WIDTH: 207px; 
	HEIGHT: 25px;
}
.MainMenu_MenuBar {
	CURSOR: hand; 
	HEIGHT: 25px; 
	WIDTH: 207px;
	BACKGROUND-COLOR: transparent; 
}
.MainMenu_MenuItem {
	BORDER-RIGHT: #ff0000 0px solid;
	BORDER-TOP: #CCD7E1 0px solid;
	BORDER-LEFT: #CCD7E1 0px solid;
	BORDER-BOTTOM: #CCD7E1 0px solid; 
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px; 
	CURSOR: hand; 
	COLOR: #FFFFFF; 
	FONT-STYLE: normal; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	padding-left: 0px; 
	HEIGHT: 25px; 
	WIDTH: 207px;
	}
.MainMenu_MenuIcon {
	display:none
	}
.MainMenu_SubMenu {
	BORDER-RIGHT: #ffffff 1px solid; 
	BORDER-TOP: #ffffff 1px solid; 
	Z-INDEX: 0; 
	BORDER-LEFT: #ffffff 1px solid; 
	CURSOR: hand; 
	BORDER-BOTTOM: #ffffff 1px solid; 
	BACKGROUND-COLOR: #76AADC;
}
.MainMenu_MenuBreak {
	BORDER-RIGHT: #eeeeee 0px solid; 
	BORDER-TOP: #eeeeee 0px solid; 
	BORDER-LEFT: #eeeeee 0px solid; 
	BORDER-BOTTOM: #eeeeee 0px solid; 
	HEIGHT: 0px; 
	BACKGROUND-COLOR: transparent; 
}
.MainMenu_MenuItemSel {
		BORDER-RIGHT: #ffffff 0px solid; 
		BORDER-TOP: #ffffff 0px solid; 
		Z-INDEX: 0; 
		BORDER-LEFT: #ffffff 0px solid; 
		CURSOR: hand; 
		BORDER-BOTTOM: #ffffff 0px solid; 
		FONT-WEIGHT: bold; 
		FONT-SIZE: 11px; 
		CURSOR: hand; 
		COLOR: #ffffff; 
		FONT-STYLE: normal; 
		FONT-FAMILY:  Verdana, Arial, Helvetica, sans-serif;
		BACKGROUND-COLOR: #2D488C; 
		padding-left: 0px; 
		HEIGHT: 25px; 
		WIDTH: 207px;
}
.MainMenu_MenuArrow {
	display:none
}
.MainMenu_RootMenuArrow {
display:none

}
.cnt-1_head
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #3986C7;
}

.cnt-2_head
{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #3B444D;
}

.titlestyle
{
	font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000080;
	background-image: url(titleback.gif);
	background-repeat: repeat-x;
	border: 1px solid #999999;
	letter-spacing: 1pt;
}

.leftrightstyle
{

	border: 1px solid #999999;
	background-color: #ECECEA;
	margin: 6px;
	padding: 6px;
}

.centerstyle
{
	background-color: #FFFFFF;
	margin: 6px;
	padding: 6px;
}

.leftmenuchild, A.leftmenuchild,  A.leftmenuchild:link,  A.leftmenuchild:visited
{
	font-size: 12px;
	line-height: 30px;
	background-image: url(leftbullet.gif);
	background-repeat: no-repeat;
	/*background-position: center left;*/
	margin-left: 5px;
	padding-left: 18px;
	white-space: nowrap;
}

#StandardCategoryMenuTemplate a { 

	font-size: 12px;
	line-height: 30px;
	background-image: url(leftbullet.gif);
	background-repeat: no-repeat;
	margin-left: 2px;
	padding-left: 18px;
	white-space: nowrap;


}





