body
{
	font-family: Tahoma, Arial, Verdana, 'MS Sans Serif';
	font-size: 70%;
	color: #3D3D3D;
	background-color: #FFFFFF;
	margin-left:25px;
	margin-right:0px;
}

.menu_line, .footer_line
{
	background-image: url('/images/menu_line.gif');
	height:1px;
	background-repeat: repeat-x;
	background-position: 50%;
}

.menu_point
{
	padding-left:5px;
	padding-right:8px;
}

p
{

}

ul li
{
	margin-bottom: 3pt;
	margin-top: 3pt;
}

ol li
{
	margin-bottom: 7pt;
	margin-top: 7pt;
}

.top_text_padding
{
	padding-top: 20px;
}

.top_text, .logo
{
	font-size: 7.5pt;
	color: #777777;
}


.text_point
{
        padding-right: 9px;
        padding-left: 16px;
}


.line_text
{
        padding-right: 9px;
        color:#939393;
}

.point
{
        margin-top: 25px;
        margin-bottom: 12px;
}

.top_menu
{
	padding-left: 9px;
	font-weight: bold;
	width: 119px;
}

.table_border, .table_border td
{
	border-collapse: collapse;
	empty-cells: show;
	border-width:1px;
	border-color: #222222;
	border-style: solid;
}


a:link, a:hover, .menu_table a:link, .menu_table a:hover, .menu_table a:visited
{
	color: #0089CE;
	TEXT-DECORATION: underline;
}

a:visited
{
	color: #0089CE;
	TEXT-DECORATION: underline;
}

h1, .title
{
	font-size: 15pt;
	color: #3D3D3D;
	font-weight: normal;
}

h2
{
	font-size:12pt;
	color: #4C4C4C;
/*	font-weight: normal; */
}

h3
{
	font-size:13pt;
	color: #4C4C4C;
	font-weight: normal;
}

form
{
	margin-bottom:0;
	margin-top:0;
}

img
{       
        border:0;
}

input, select, textarea
{
	font-family: Arial, Verdana, 'MS Sans Serif';
	font-size: 8pt;
	border: #777777 1px solid;
	color: #3D3D3D;
	padding: 1px;
}

.input_blur
{
	background: #F5F5F7;
}

.input_buttom_search
{
	font-family: Arial, Verdana, 'MS Sans Serif';

	border: #dddddd 1px solid;
	color: #3e3e3e;
}

.input_buttom_search_button
{
	border: #dddddd 1px solid;
	color: #333333;
	background-color: #dddddd;
}


hr  /* Для IE */
{
	height: 1px;
	color: #dadada;
	border: none;
}

/* Для 1 - 2 - 3 списка информационных элементов */
.current
{
	background-color:#E7E7E7;
	padding: 2px;
}

.news_date
{
	color: #C9D1D3;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 10px;
}

.news_title
{
        font-size: 8pt;
	font-weight: bold;
}

.news_description
{
	padding-left:12px;
	margin-bottom:0em;
	color: #606060;
}

/* Полоска результатов для голосований */
.polls
{
	background-color:#999999;
	height:10px;
}

/* ***************** */
/* Стили для форумов */
/* ***************** */

.add_message_bbcode_table img
{
	padding: 0px;
	margin: 0px;
}

.add_message_bbcode_table td
{
    border-collapse: collapse;
    border-width: 3px;
    border-color: #BAB188;
    border-style: solid;
    cursor: pointer;    
}

/*Таблица груп форумов*/
.table_group_forums
{
    width: 100%; 
    padding: 2px;   
    border-collapse: collapse;
    empty-cells: show;
    border-width:1px;
    border-color: #d3d3d3;
    border-style: solid;
/*	background-color: #000000;*/
}

/*Ячейка таблицы групп форумов*/
.table_group_forums td
{
	padding: 2px;
    border-collapse: collapse;
    empty-cells: show;
    border-width:1px;
    border-color: #d3d3d3;
    border-style: solid;
}
.table_group_title td
{
	padding: 2px;
	border-collapse: collapse;
	empty-cells: show;
	border-width:0px;
	border-color: #d3d3d3;
	border-style: solid;
	background-color: #F5F5F7;
	color: #353535;
}
/*Заголовок группы форумов*/
.title_group_forums
{
    font-weight: bold;
}

/*Описание группы форумов*/
.desc_group_forums
{
    /*font-size: 10px;*/
}

/*Строка заголовка группы форумов*/
.row_title_group_forums
{
    background-color: #F5F5F7;
	color: #353535;
    font-weight: bold;
}

/*Таблица идентификации пользователя*/
.table_identification
{
	width: 100%;
	padding: 2px;
	border-collapse: collapse;
	empty-cells: show;
	border-width:1px;	
	border-style: solid;
	border-color: #d3d3d3;
	/*background-color: #F7F7F7;*/
}

/*Ячейка таблицы идентификации пользователя*/
.table_identification td
{
	padding: 2px;
	border-collapse: collapse;
	empty-cells: show;
	border-width:1px;
	border-color: #d3d3d3;
	border-style: solid;
}
/*Имя залогинившегося пользователя*/
.name_users
{
    color: #6C5722;    
}

/*Строка заголовка таблицы идентификации пользователя*/
.row_title_identification
{
	color: #353535;
	background-color: #F5F5F7;
	font-weight: bold;
}

/*Таблица текущего форума*/
.table_forum
{
	width: 100%;
	padding: 2px;
/*	border-collapse: collapse;
	empty-cells: show;
	border-width:1px; */
	border: 0px; 
/*	border-color: #777777;
	border-style: solid;
	background-color: #F5F5F7;*/
}

/*Таблица добавление сообщения */
.table_forum_message
{
	width: 100%;
	color: #000000;
	padding: 2px;
	border-collapse: collapse;	
	empty-cells: show;
	border-width:1px; 
	border-color: #d3d3d3;
	border-style: solid;
	background-color: #F5F5F7;
}

.table_forum_message td
{
	color: #000000;
	empty-cells: show;
	border-width:1px; 
	border-color: #d3d3d3;
	border-style: solid;	
}



/*Ячейка таблицы текущего форума*/
.table_forum td
{
/*
    border-collapse: collapse;
    empty-cells: show;
    border-width:1px;
    border-color: #000000;
    border-style: solid;
    */
}
/*Строка заголовка форума*/
.row_title_forum
{
    /*background-color: #F7F7F7;    */
    padding-top: 5px;
}
/*Таблица заголовка форума*/
.table_title_forum
{
    width: 100%;
    color: #000000;
}

/*Ячейка таблицы заголовка форума*/
.table_title_forum td
{
    border: none;
}

/*Заголовок форума*/
.title_forum
{
    color: #353535;
    font-weight: bold;
}

/*Описание форума*/
.desc_forum
{
   /* font-size: 10px;*/
}

/*Таблица тем в таблице текущего форума*/
.table_themes
{
	width: 100%;

	/*cellpadding*/
	padding: 2px;
	/*cellspacing*/
	border-spacing: 0px;

	color: #000000;

	border-collapse: collapse;
	empty-cells: show;
	
}

/*Таблица тем в таблице текущего форума*/
.table_themes td
{
	/*cellpadding*/
	padding: 3px;
	
	/*cellspacing*/
	border-spacing: 0px;

	color: #000000;

	border-collapse: collapse;
	empty-cells: show;
	
    border-width:1px;
    border-color: #d3d3d3;
    border-style: solid;	
}

/*Строка имён параметров тем форума*/
.row_title_themes
{
    background-color: #F5F5F7;
    font-weight: bold;
    /*text-align:center;*/
    height: 25px;
    width: 100px;
    padding-left: 10px;
}
.row_title_themes td
{
	color: #353535;
}
.row_title_themes_message
{
    /*background-color:color:#353535; #F5F5F7;font-weight: bold;*/    
    height: 25px;
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;    
    background-color: #F5F5F7;
}
.row_title_themes_message label
{
    color:#353535;
}

/*Ячейка таблицы тем атрибут*/
.theme_td_attribute
{
	width:20px;	
}
/*Ячейка таблицы тем заголовок*/
.theme_td_title
{
		
}
/*Ячейка таблицы тем автор*/
.theme_td_author
{
	width:80px;	
}
/*Ячейка таблицы тем дата создания*/
.theme_td_create_date
{
	width:80px;	
}
/*Ячейка таблицы тем количество ответов*/
.theme_td_count_answer
{
	width:50px;
}
/*Ячейка таблицы тем последнее сообщение*/
.theme_td_last_message
{
	width:120px;
}
/*Ячейка таблицы тем действие*/
.theme_td_action
{
	width:140px;
}


.color_hidden_theme
{
	background-color: #ECE9DB;
}
.color_2_theme
{
	background-color: #FAF9F2;
}
.current_page_link:visited
{
	/*color: #6C5722;*/
}

/*Таблица сообщений*/
.table_messages
{
    width: 100%;
    border-collapse: collapse;
    empty-cells: show;
    border: 0px solid #d3d3d3;
}

/*Ячейка таблицы сообщений*/
.table_messages td
{
    border-collapse: collapse;
    empty-cells: show;
    border: 1px solid #d3d3d3;
}

/* Таблица добавления нового сообщения */
.add_message_table, .add_message_table td
{    
	border: 0px solid #000000;
}

/*Строка темы сообщения*/
.row_title_messages
{
    background-color: #F5F5F7;
    font-weight: bold;
    color:#353535;
}
/*Таблица темы сообщения*/
.table_title_message
{
    width: 100%;
}
/*Ячейка таблицы темы сообщения*/
.table_title_message td
{
    border: none;
}
/*Тема сообщения*/
.title_messages
{
    color: #353535;
}
/*Имя автора сообщения*/
.author_name
{
    font-weight: bold;
}
/*Статус автора сообщения*/
.author_status
{
}
/*Ссылка на цитировать выделенное*/
.selectedquote
{
	color: #0089C6;
	TEXT-DECORATION: underline;
	cursor:hand;
}
/*Стиль для BBcode - цитировать*/
.quotestyle
{
    background-color: #F5F5F7;
    border-collapse: collapse;
    border-width:1px;
    border-color: #d3d3d3;
    border-style: solid;    
    padding:5px;
}
/*Стиль для BBcode - code*/
.codestyle
{
	font-family:'Courier New Cyr';
	border-collapse: collapse;
	border: 1px solid #353535;
}
/*Строка добавления нового сообщения*/
.row_add_message
{
    background-color: #F5F5F7;
    color:#353535;
    /*font-weight: bold;*/
}
/*Таблица параметров сообщения*/
.table_message_parameters
{
    width: 100%;
}
/*Ячейка таблицы параметров сообщения*/
.table_message_parameters td
{
    border: none;
}

/*Таблица информации об авторе*/

.table_user_info
{
    border-collapse: collapse;
    empty-cells: show;
    border-width:1px;
    border-color: #d3d3d3;
    border-style: solid;
}

/*Ячейка таблицы информации об авторе сообщения*/
.table_user_info td
{
    border-collapse: collapse;
    empty-cells: show;
    border-width:1px;
    border-color: #d3d3d3;
    border-style: solid;
}
/*Строка имени пользователя*/
.row_user_name
{
    background-color: #F5F5F7;
    font-weight: bold;
    color: #353535;
}
/*Строка заголовка параметров пользователя*/
.row_user_parameters
{
    background-color: #F5F5F7;
    font-weight: bold;
    color: #353535;
}

/*Таблица дополнительных параметров пользователя*/
.table_extra_properties
{
    border: none;
    margin: 5px;
}

.table_extra_properties td
{
    border: none;
}
/*Конец стилей для форума*/


/*Стили для магазина*/

.shop_cart_table td, .shop_cart_table_title td
{
	padding-right: 10px;
	padding-left: 5px;
	border-right: 2px solid #ffffff;
	height: 25px;
}

.shop_cart_table td
{
	border-bottom: 1px solid #f1f1f1;
}

.shop_cart_table_title td
{
	background-color: #f1f1f1;
	font-weight: bold;
	height: 30px;
}

#error
{
	color: #FF5500;
	border: 1px solid #FF5500;
	padding: 10px 10px 10px 40px;
	margin: 5px 0px 5px 0px;
	width: 600px;
	clear: both;
	background: url('/hostcmsfiles/images/error.gif') no-repeat 10px 50%;
}

.price_table_border, .price_table_border td
{
	border-collapse: collapse;
	empty-cells: show;
	border-width:1px;
	border-color: #CCCCCC;
	border-style: dashed;
	padding-left: 5px;
}
